nav{
    // height: 10vh;
    // width: 100vw;
    background-color: black;

    ul{
        // height: 100%;
        // width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        padding: 20px;

        li{
            list-style: none;
            a{
                color: white;
                text-decoration: none;
                font-family: sans-serif;
            }
        }
    }
}